<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="10000">
        <setting label="10001" type="lsep"/> 
        <setting label="10002" id="indigo_ip" type="ipaddress" default="0.0.0.0"/>
        <setting label="10011" id="indigo_port" type="text" default="8189"/>       
        
	
	<setting label="10005" id="debug_mod" type="labelenum" values="Yes|No" default="No"/>
	<setting label="10006" id="debounce_video" type="text" default="0"/> 
	<setting label="10007" id="debounce_audio" type="text" default="0"/> 
	<setting label="10008" id="notification" type="labelenum" values="Yes|No" default="Yes"/>
    </category>
</settings>